body {
    background-image: url(../img/fundo.jpg);
    background-color: #282c35;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color:#f0f0f0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    color:lc;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color:mediumslateblue;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #f0f0f0;
    color:mediumslateblue;
}

button {
    background-color:plum;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color:plum;
}
